# Venv
venv_optimize_inference_speculative_decoding

# Folders
pics/
.ipynb_checkpoints/

# Files
*.csv
.env
rex_learning_log.md
optimize_inference_speculative_decoding.code-workspace

# Python
__pycache__/
*.pyc

# large data
metadata.csv
*.parquet
*.zip

# Ignore tarballs
*.tar.gz

