# Venv
venv_optimize_inference_speculative_decoding

# Folders
pics/

# Files
*.csv
.env
venv_optimize_inference_speculative_decoding

# Python
__pycache__/
*.pyc
# large data
metadata.csv
*.parquet
*.zip

# Ignore tarballs
*.tar.gz
